{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block pageBody %}

    <br>
    <br>
    <br>

    <h1 align="center">Welcome to the movie list site thing, {{ user.username }}!</h1>

    <br>
    <br>
    <br>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#randomMovieModal">Random Movie</button>
    <div class="modal fade" id="randomMovieModal" tabindex="-1" role="dialog"
         aria-labelledby="randomMovieModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="randomMovieModalLabel">Random Movie Picker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ randomMovie }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#movieModal">Add Movie</button>
    <form method="post">
        <div class="modal fade" id="movieModal" tabindex="-1" role="dialog"
             aria-labelledby="movieModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="movieModalLabel">Add Movie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="movieNameInput">Name</label>
                                <input type="text" class="form-control" id="movieNameInput"
                                       name="movieNameInput" placeholder="Movie name">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <br>

    <table id="movieTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead class="table-light">
        <th class="th-sm">Movie</th>
        <th class="th-sm">Added By</th>
        <th class="th-sm">Date Added</th>
        <th class="th-sm"></th>
        </thead>
        <tbody>
        {% for movie in movies %}
            {% if movie.haveWatched %}
                <tr class="table-success">
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.whoAdded }}</td>
                    <td>{{ movie.dateAdded }}</td>
                    <td align="right">
                        <a href="{{ url_for('views.watchMovie', movie_id=movie.id) }}" title="Watch Movie">
                            <button type="button" class="btn btn-outline-success">&#10003;</button>
                        </a>
                        <a href="{{ url_for('views.movieDelete', movie_id=movie.id) }}"
                           onclick="return confirm('Are you sure you want to delete {{ movie.name }}?');"
                           title="Delete Movie" }}>
                            <button type="button" class="btn btn-outline-danger">&times;</button>
                        </a>
                    </td>
                    <td>{{ movie.haveWatched }}</td>
                </tr>
            {% else %}
                <tr class="table-secondary table-bordered">
                    <td>{{ movie.name }}</td>
                    <td>{{ movie.whoAdded }}</td>
                    <td>{{ movie.dateAdded }}</td>
                    <td align="right">
                        <a href="{{ url_for('views.watchMovie', movie_id=movie.id) }}" title="Watch Movie">
                            <button type="button" class="btn btn-outline-success">&#10003;</button>
                        </a>
                        <a href="{{ url_for('views.movieDelete', movie_id=movie.id) }}"
                           onclick="return confirm('Are you sure you want to delete {{ movie.name }}?');"
                           title="Delete Movie" }}>
                            <button type="button" class="btn btn-outline-danger">&times;</button>
                        </a>
                    </td>
                    <td>{{ movie.haveWatched }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <br>

{% endblock %}