{% extends "base.html" %}
{% block title %}Movies{% endblock %}

{% block pageBody %}
    <br>
    <br>
    <br>

    <h1 align="center">Welcome to the movie list site thing, {{ user.username }}!</h1>

    <br>
    <br>
    <br>

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#randomSongModal">Random Song</button>
    <div class="modal fade" id="randomSongModal" tabindex="-1" role="dialog"
         aria-labelledby="randomSongModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="randomSongModalLabel">Random Song Picker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{ randomSong }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#songModal">Add Song</button>
    <form method="post">
        <div class="modal fade" id="songModal" tabindex="-1" role="dialog"
             aria-labelledby="songModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="songModalLabel">Add Song</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="songNameInput">Name</label>
                                <input type="text" class="form-control" id="songNameInput"
                                       name="songNameInput" placeholder="Song name">
                                <br>
                                <label for="songArtistInput">Artist</label>
                                <input type="text" class="form-control" id="songArtistInput" name="songArtistInput" placeholder="Artist">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <br>

    <table id="songTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead class="table-light">
        <th class="th-sm">Song</th>
        <th class="th-sm">Artist</th>
        <th class="th-sm">Added By</th>
        <th class="th-sm">Date Added</th>
        <th class="th-sm"></th>
        </thead>
        <tbody>
        {% for song in songs %}
            {% if song.haveListened %}
                <tr class="table-success">
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.whoAdded }}</td>
                    <td>{{ daysSince(song.dateAdded) }}</td>
                    <td align="right">
                        <a href="{{ url_for('views.listenSong', song_id=song.id) }}" title="Listen to Song">
                            <button type="button" class="btn btn-outline-success">&#10003;</button>
                        </a>
                        <a href="{{ url_for('views.songDelete', song_id=song.id) }}"
                           onclick="return confirm('Are you sure you want to delete {{ song.name }}?');"
                           title="Delete Song" }}>
                            <button type="button" class="btn btn-outline-danger">&times;</button>
                        </a>
                    </td>
                    <td>{{ song.haveListened }}</td>
                    <td>{{ song.dateAdded }}</td>
                </tr>
            {% else %}
                <tr class="table-secondary">
                    <td>{{ song.name }}</td>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.whoAdded }}</td>
                    <td>{{ daysSince(song.dateAdded) }}</td>
                    <td align="right">
                        <a href="{{ url_for('views.listenSong', song_id=song.id) }}" title="Listen to Song">
                            <button type="button" class="btn btn-outline-success">&#10003;</button>
                        </a>
                        <a href="{{ url_for('views.songDelete', song_id=song.id) }}"
                           onclick="return confirm('Are you sure you want to delete {{ song.name }}?');"
                           title="Delete Song" }}>
                            <button type="button" class="btn btn-outline-danger">&times;</button>
                        </a>
                    </td>
                    <td>{{ song.haveListened }}</td>
                    <td>{{ song.dateAdded }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <br>
    <br>
    <br>
{% endblock %}